apiVersion: apps/v1
kind: Deployment
metadata:
  name: energi-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: energi-consumer
  template:
    metadata:
      labels:
        app: energi-consumer
    spec:
      containers:
        - name: energi-consumer
          image: rahima9/energi-consumer:latest

          # Environment variables
          env:
            - name: DB_HOST
              value: "energi-postgres"  
            - name: DB_PORT
              value: "5432"

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: energi-postgres-secret
                  key: POSTGRES_DB

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: energi-postgres-secret
                  key: POSTGRES_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: energi-postgres-secret
                  key: POSTGRES_PASSWORD

            # Kafka broker (this is same as in your teacher's cluster)
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"   # or "kafka:9092" if different

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
