apiVersion: apps/v1
kind: Deployment
metadata:
  name: energi-postgres
  namespace: bd-bd-gr-07
spec:
  replicas: 1
  selector:
    matchLabels:
      app: energi-postgres
  template:
    metadata:
      labels:
        app: energi-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: energi-postgres-secret
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: energi-postgres
  namespace: bd-bd-gr-07
spec:
  type: ClusterIP
  selector:
    app: energi-postgres
  ports:
    - port: 5432
      targetPort: 5432
